.dropdown-button button.btn-small {
  min-height: 27px;
}
.dropdown-button button {
  padding-right: 6px;
}
@if $hide_button_title_on_mobile == 'true' {
  .dropdown-button button .d-button-label {
    display: none;
  }
}
