/* Toggle the dropdown menu on click */
#dropdown-button:hover #dropdown-button-content.show-dropdown {
  display: block;
}
#dropdown-button button {
  padding-right: 6px;
}
#dropdown-button button.btn-small {
  min-height: 27px;
}
@if $hide_button_title_on_mobile == 'true' {
  #dropdown-button button .d-button-label {
    display: none;
  }
}
